<header class="header">
    <div class="logo">
      <img src="https://via.placeholder.com/163x28" alt="Trazmo Logo">
    </div>
    <nav class="nav">
      <ul> 
        <li><a href="../pages/product.html">Product</a></li>
        <li><a href="../pages/solutions.html">Solutions</a></li>
        <li><a href="../pages/aboutus.html">About Us</a></li>
        <li><a href="../pages/career.html">Career</a></li>
        <li><a href="#faq">FAQs</a></li>
      </ul>
    </nav>
    <button class="btn-demo">Request a Demo</button>
  </header>